/* CSS reset by Josh Comeau */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-grey);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

/* remove width and height from the component. The browser can decide how much height is needed. And instead if giving an explicit width in px, use max-width in rem. This allows the component to shrink narrower if needed, and let's it adapt responsively even if users change their font size */
.component {
  max-width: 20rem;
  
  background-color: var(--white);
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.component-info {
  max-width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.component-image img {
  border-radius: 10px;
  /* width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover; */
}
.component-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--dark-blue);
}
.component-title-description {
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 0.9rem;
}
.attribution {
  font-size: 0.9rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
